body{ 

   background-color: white; 
    
}

header{
    display: flex;
    background-color: red;
    justify-content: space-between;   
    padding: 20px;
}

.cabecalho_menuitem{ 

    display: inline;
    text-transform: ;
    margin-left: 20px;
}

.cabecalho_imagem{ 
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.principal{
    display: flex;
}